<html>
<head>
<title>{% if env %}{{ env.get('html_title') }}{% else %}{{ html_title }}{% endif %}</title>
<link type="text/css" rel="stylesheet" href="assets/scanview.css"/>
<script src="assets/sorttable.js"></script>
<script src="assets/summary.js"></script>
</head>
<body>

{% if env %}
<h1>{{ env.get('html_title') }}</h1>
<table>
<tr><th>User:</th><td>{{ env.get('user') }}</td></tr>
<tr><th>Working Directory:</th><td>{{ env.get('cwd') }}</td></tr>
<tr><th>Command Line:</th><td>{{ env.get('cmd') }}</td></tr>
<tr><th>Clang Version:</th><td>{{ env.get('clang_version') }}</td></tr>
<tr><th>Date:</th><td>{{ env.get('date') }}</td></tr>
</table>
{% endif %}

{% if failures %}
<h2>Analyzer Failures</h2>
<table>
<thead><tr><td>Problem</td><td>Source File</td><td>Preprocessed File</td><td>STDERR Output</td></tr></thead>
{% for failure in failures %}
<tr><td>{{ failure.type }}</td><td>{{ failure.src }}</td><td><a href="failures/{{ failure.clang_preprocessed_file }}">{{ failure.clang_preprocessed_file }}</a></td><td><a href="failures/{{ failure.stderr }}">{{ failure.stderr }}</a></td></tr>
{% endfor %}
</table>
{% endif %}

{% if summary %}
<h2>Bug Summary</h2>
<table>
<thead><tr><td>Bug Type</td><td>Quantity</td><td class="sorttable_nosort">Display?</td></tr></thead>
<tr style="font-weight:bold"><td class="SUMM_DESC">All Bugs</td><td class="Q">{{ summary.total }}</td><td><center><input type="checkbox" id="AllBugsCheck" onClick="CopyCheckedStateToCheckButtons(this);" checked/></center></td></tr>
{% for category, entries in summary.category_map.items() %}
<tr><th>{{ category }}</th><th colspan=2></th></tr>
{% for entry in entries %}
<tr><td class="SUMM_DESC">{% if overall %}<a href="{{ entry.report_path }}" target="_blank">{% endif %}{{ entry.bug_type }}{% if overall %}</a>{% endif %}</td><td class="Q">{{ entry.total }}</td><td><center><input type="checkbox" onClick="ToggleDisplay(this,'{{ entry.bt_class }}');" checked/></center></td></tr>
{% endfor %}
{% endfor %}
</table>
{% endif %}

<h2>Reports</h2>
<table class="sortable" style="table-layout:automatic">
<thead><tr>
  <td>Bug Group</td>
  <td class="sorttable_sorted">Bug Type<span id="sorttable_sortfwdind">&nbsp;&#x25BE;</span></td>
  <td>File</td>
  <td>Function/Method</td>
  <td class="Q">Line</td>
  <td class="Q">Path Length</td>
  <td class="sorttable_nosort"></td>
</tr></thead>
<tbody>
{% if reports %}
{% for report in reports %}
<tr class="{{ report.bt_class }}"><td class="DESC">{{ report.bug_category }}</td><td class="DESC">{{ report.bug_type }}</td><td>{{ report.file }}</td><td class="DESC">{{ report.function }}</td><td class="Q">{{ report.line }}</td><td class="Q">{{ report.path_length }}</td><td>{% if report.report_link %}<a href="{{ report.report_link }}#EndPath">View Report</a>{% endif %}</td></tr>
{% endfor %}
{% endif %}
</tbody>
</table>
</body></html>
